<template>
  <form @submit.prevent="enviar" method="post">
    <label>Nombre
      <input type="text" name="nombre" v-model="nombre">
    </label>
    <label>Email
      <input type="email" name="email" v-model="email">
    </label>
    <input type="submit" name="submit" value="Enviar">
  </form>
</template>

<script>
import axios from 'axios'
import OAuth  from 'oauth-1.0a'
import CryptoJS from 'crypto-js'

export default {

  name: 'Formulario',

  data() {
    return {
      nombre: '',
      email: '',
      consumer_key: 'ck_b7601ab6709bef4561d89fb8cb6e25967e875dd3',
      consumer_secret: 'cs_82dd269528ec0f13896482cbc9cf372a120f8fd0',
      signature_method: 'HMAC-SHA1',
      oauth: null,
    };
  },
  created() {
    this.oauth = OAuth({
      consumer: {
        key: this.consumer_key,
        secret: this.consumer_secret
      },
      signature_method: 'HMAC-SHA1',
      hash_function: function(base_string, key) {
        return CryptoJS.enc.Base64.stringify(CryptoJS.HmacSHA1(base_string, key));
      }
    });

  },
  methods: {
    enviar () {

      const gf_url = 'http://pauloc.gotdns.com/sage_test/wp-json/gf/v2/forms/1/submissions'

      const request_data = {
        url: gf_url,
        method: 'POST',
      }

      let call = axios.post( gf_url, {
        data: {
          "input_1": this.nombre,
          "input_2": this.email,
          "source_page": 1,
          "target_page": 0,
        },
        // headers: this.oauth.toHeader(this.oauth.authorize(request_data)),
      })
      .then( (response) => {
        console.log('Response', response)
      })
      .catch( (error) => {
        console.log('Error', error)
      });
    }
  }
}
</script>

<style lang="css" scoped>
</style>
