<template>
  <div class="invitados">
    <div class="invitados__container">
      <card v-for="invitado in invitados" :key="invitado.id" :invitado="invitado" />
    </div>
    <modal />
  </div>
</template>

<script>
import Card from './ui/Card'
import Modal from './ui/Modal'

export default {
  name: 'Invitados',
  components: {
    Card, Modal
  },
  data () {
    return {
      invitados: [
        {
          'id': '0',
          'nombre': 'Algo Y tal',
          'img': 'aduriz.jpg',
          'desc': 'Andoni Luis Aduriz es uno de los chefs más influyentes de nuestro tiempo. Ha apostado siempre por la evolución y la interdisciplinariedad en la cocina, y ello le ha llevado a atravesar las fronteras de lo establecido, a ser un rebelde tras los fogones. Aduriz posee una actitud multidisciplinar, fomentando la unión entre la innovación en la cocina y los más diversos sectores . Fue en 1998 cuando comenzó su apuesta más arriesgada y satisfactoria: abordó en solitario el proyecto de Mugaritz, que desde el año 2006 cuenta con dos Estrellas Michelin y se mantiene desde el año 2006 se mantiene entre los diez primeros restaurantes del mundo según la revista “World’s 50 Best Restaurants” . Mugaritz se ha convertido en sinónimo de I+D, y allá la palabra restaurante está desterrada, “Es algo más”, tal y como el propio Aduriz reconoce.'
        },
        {
          'id': '1',
          'nombre': 'Algo Y tal',
          'img': 'aduriz.jpg',
          'desc': 'Andoni Luis Aduriz es uno de los chefs más influyentes de nuestro tiempo. Ha apostado siempre por la evolución y la interdisciplinariedad en la cocina, y ello le ha llevado a atravesar las fronteras de lo establecido, a ser un rebelde tras los fogones. Aduriz posee una actitud multidisciplinar, fomentando la unión entre la innovación en la cocina y los más diversos sectores . Fue en 1998 cuando comenzó su apuesta más arriesgada y satisfactoria: abordó en solitario el proyecto de Mugaritz, que desde el año 2006 cuenta con dos Estrellas Michelin y se mantiene desde el año 2006 se mantiene entre los diez primeros restaurantes del mundo según la revista “World’s 50 Best Restaurants” . Mugaritz se ha convertido en sinónimo de I+D, y allá la palabra restaurante está desterrada, "Es algo más", tal y como el propio Aduriz reconoce.'
        },
        {
          'id': '2',
          'nombre': 'Andoni Luis Aduriz Algo Y tal',
          'img': 'aduriz.jpg',
          'desc': 'Andoni Luis Aduriz es uno de los chefs más influyentes de nuestro tiempo. Ha apostado siempre por la evolución y la interdisciplinariedad en la cocina, y ello le ha llevado a atravesar las fronteras de lo establecido, a ser un rebelde tras los fogones. Aduriz posee una actitud multidisciplinar, fomentando la unión entre la innovación en la cocina y los más diversos sectores . Fue en 1998 cuando comenzó su apuesta más arriesgada y satisfactoria: abordó en solitario el proyecto de Mugaritz, que desde el año 2006 cuenta con dos Estrellas Michelin y se mantiene desde el año 2006 se mantiene entre los diez primeros restaurantes del mundo según la revista “World’s 50 Best Restaurants” . Mugaritz se ha convertido en sinónimo de I+D, y allá la palabra restaurante está desterrada, "Es algo más", tal y como el propio Aduriz reconoce.'
        }
      ]
    }
  },
  mounted () {
    const circle = this.$refs.bt01
    console.log('circle', circle)
  },
  methods: {
    isHidden () {
      this.textoVisible = !this.textoVisible
      console.log('isHiden en Invitados.')
    }
  }
}
</script>

<style lang="scss">
.invitados{
  &__container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}
</style>
