<template>
  <div class="ui">
    <logo />
    <burger @click.native="toggle_menu"></burger>
    <circulo />
    <reveal />
    <flecha />
    <card />
  </div>
</template>

<script>

import Burger from './ui/Burger.vue'
import Circulo from './ui/Circulo.vue'
import Flecha from './ui/Flecha.vue'
// import Loading from './ui/Loading.vue'
import Card from './ui/Card.vue'
import Reveal from './ui/Reveal.vue'
import Logo from './ui/Logo.vue'

export default {

  name: 'UI',
  components: {
    Burger,
    Circulo,
    Flecha,
    Card,
    Logo,
    Reveal,
  },

  data() {
    return {
      verMenu: false,
    };
  },
  methods: {
    toggle_menu() {
      console.log('toggle_menu');
      this.verMenu = !this.verMenu;
    }
  }
};
</script>

<style lang="scss" scoped>

</style>
