<template>
  <div id="app">
    <!-- <user-interface></user-interface> -->
    <main-menu />
    <page-header />
    <invitados />
    <form-manager />

    <div class="space"></div>
  </div>
</template>

<script>
// import UserInterface from './components/UI.vue'
import MainMenu from './components/ui/MainMenu.vue'
import Invitados from './components/Invitados.vue'
import PageHeader from './components/ui/PageHeader.vue'
import FormManager from './components/ui/FormManager.vue'

export default {
  name: 'app',
  components: {
    // UserInterface,
    Invitados,
    MainMenu,
    PageHeader,
    FormManager
  }
}
</script>

<style>
body {
  margin: 0;
  padding: 0;

/*
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #72BDED;
  flex-direction: column;
  */
}

#app {
  background-color: tomato;
  margin: 0;
  padding: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

.space {
  min-height: 100vh;
}
</style>
