<template>
  <div class="float-menu__toggle burger">
    <span class="burger__icon">
      <span class="burger__icon__line"></span>
      <span class="burger__icon__line"></span>
    </span>
  </div>
</template>

<script>
export default {
  name: 'Burger',
  data() {
    return {

    };
  },
};
</script>

<style lang="scss" scoped>
.burger {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  border: 0;
  background: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  align-items: center;
  justify-content: center;
  // transform: scale(0);
  transition: background-color .1s ease-in-out, transform .1s ease-in-out;

  .burger__icon {
    height: 1px;
    position: relative;
    width: 100%;
    transition: transform .2s ease .2s;

    .burger__icon__line {
      background: #000;
      display: block;
      width: 17px;
      height: 1px;
      position: absolute;
      top: 0;
      left: 21px;
      transform: translate3d(0, 3px, 0);
      transition: transform .2s ease;

      &:first-child {
        transform: translate3d(0, -3px, 0);
        transition: transform .2s ease;
      }
    }
  }

  &:hover {
    cursor: pointer;
    & .burger__icon {
      transform: rotate(90deg);
    }
    & .burger__icon__line, .burger__icon__line:first-child {
      transform: translate3d(0, 0, 0);
    }
    & .burger__icon__line {
    }
  }

}

.float-menu__toggle {
  top: 47px;
  right: 40px;
  position: fixed;
  z-index: 101;
}
</style>
