<template>
  <div class="card">
    <div class="card__container" :style="{'background-image': 'url(' + getImgUrl(invitado.img) + ')'}">
      <div class="card__inner card__inner--back" :class="{full:textoVisible}">
          {{invitado.desc}}
      </div>
    </div>
    <circulo class="bt_1" @click.native="mostrarTexto" />
    <circulo class="bt_2" @click.native="mostrarTexto" />
  </div>
</template>

<script>
import Circulo from './Circulo'
import { EventBus } from '../utils/event-bus.js'

export default {
  name: 'Card',
  components: {
    Circulo
  },
  props: [
    'invitado'
  ],
  data () {
    return {
      textoVisible: false
    }
  },
  methods: {
    isHidden () {
      this.textoVisible = !this.textoVisible
      console.log('isHiden en Card.')
    },
    mostrarTexto () {
      this.textoVisible = !this.textoVisible
      console.log('textoVisible en Invitados.')
      EventBus.$emit('onMuestraModal', true, this.invitado.desc)
    },
    getImgUrl (img) {
      var images = require.context('../../assets/', false, /\.jpg$/)
      return images('./' + img)
    }
  }
}
</script>

<style lang="scss">
.card {
  position: static;
  min-height: 450px;
  // width: 380px;
  margin: 10px;

  .card__container {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card__container {
    min-height: 300px;
  }
  .card__inner {
    //
  }
}

.bt_1 {
  position: relative;
  bottom: 10px;
  left: 10px;
}

.bt_2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
</style>
