<template>
    <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
      <ellipse cx="50" cy="50" id="svg_1" rx="30" ry="30" />
    </svg>
</template>

<script>
export default {

  name: 'circulo',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>
