<template>
  <svg width="46" height="9" xmlns="http://www.w3.org/2000/svg">
    <path d="M44.102 4l-2.444-2.445.009-1.405 4.325 4.325-4.38 4.38.01-1.423L44.101 5H.002V4z" fill-rule="evenodd"></path>
  </svg>
</template>

<script>
export default {

  name: 'Flecha',

  data() {
    return {

    };
  },
};
</script>

<style lang="css" scoped>
</style>
