<template>
  <div class="formulario" @submit.prevent="sendData">
    <form id="inscripcion">
      <label>Algo
        <input type="checkbox" value="Algo que poner" name="check01" v-model="checkedProgramas" @change="saveData" />
      </label>
      <label>Otro
        <input type="checkbox" value="Otro que poner" name="check02" v-model="checkedProgramas" />
      </label>
      <label>Cena
        <input type="number" value="Otro que poner" name="cena01" v-model.number="cena01" />
      </label>

      <button type="submit">Enviar</button>
    </form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      checkedProgramas: [],
      formValues: {},
      cena01: 0,
      formData: {}
    }
  },
  mounted () {
    let formElement = document.getElementById('inscripcion')
    this.formData = new FormData(formElement)
  },
  methods: {
    saveData (e) {
      console.log('saveData:', e.target.value, e.target.name)
      this.formData.append(e.target.name, e.target.value)
      this.formData.append('accountnum', 123456)
      localStorage.setItem(e.target.name, e.target.value)
    },
    sendData () {
      let data = localStorage.getItem('formData')
      console.log('sendData:', this.formData)
      console.log('sendData:', data)

      for (var pair of this.formData.entries()) {
        console.log(pair[0] + ', ' + pair[1])
      }

      var request = new XMLHttpRequest()
      request.open('POST', 'submitform.php')
      request.send(this.formData)
    }
  }
}
</script>

<style>
form {
  display: flex;
  flex-direction: column;
}
</style>
