<template>
  <div class="primary-nav">
    <burger @click.native="showMenu = !showMenu" />
    <nav class="main-nav" :class="{ menuOpen: showMenu}">
      <ul>
        <li v-for="item in items" :key="item.id">
          {{item.text}}
        </li>
      </ul>
    </nav>
    <div class="imagebg" ref="imagebg">
      foto
    </div>
  </div>
</template>

<script>
import Burger from "./Burger";
export default {
  name: 'MainMenu',
  components: {
    Burger,
  },
  data(){
    return {
      showMenu: false,
      items: [
        {id:1, text:'menu item 1'},
        {id:2, text:'menu item 2'},
        {id:3, text:'menu item 3'},
        {id:4, text:'menu item 4'},
        {id:5, text:'menu item 5'},
      ]
    }
  },
  mounted() {
    this.imagebg = this.$refs.imagebg;
    this.imagebg.addEventListener('transitionend', this.openFinished, false);
    console.log(this.imagebg)
  },
  methods: {
    openFinished( ){
      console.log('openFinished.')
    }
  }

}
</script>
<style lang="scss">
.primary-nav {
  position: relative;
  z-index: 100;
}
.main-nav {
  position: absolute;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  left: -100%;
  transition: all 0.4s;

  &.menuOpen {
    left: 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;

    li {
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0;
    }
  }
}

</style>
