<template>
  <div class="modal" @click="cerrar" :class="{full:textoVisible}">
    <div class="texto" v-html="texto"></div>
    <circulo class="mascara" :class="{full:textoVisible}" />
  </div>
</template>

<script>
import Circulo from './Circulo'
import { EventBus } from '../utils/event-bus.js'

export default {
  name: 'Modal',
  components: {
    Circulo
  },
  data () {
    return {
      textoVisible: false,
      texto: ''
    }
  },
  mounted () {
    EventBus.$on('onMuestraModal', (textoVisible, texto) => {
      // console.log(`El texto: ${texto} abrir es: ${textoVisible})`)
      this.textoVisible = textoVisible
      this.texto = texto
    })
  },
  methods: {
    cerrar () {
      console.log('Modal->cerrar.')
      this.textoVisible = false
      // this.texto = ''
    }
  }
}
</script>

<style lang="scss">
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;

  &.full {
    pointer-events: auto;
  }
}
.mascara {
  position: fixed;
  overflow: inherit;
  width: 100%;
  height: 100%;
  transition: all 0.4s;

  ellipse {
    fill: navy;
    width: 100%;
    height: 100%;
    stroke: #000000;
    stroke-width: 0;
    fill-opacity: 0.8;
    rx: 40;
    ry: 40;
    transition: all 0.4s;
  }

  &.full {
    overflow: inherit;
    width: 100%;
    height: 100%;
    transition: all 0.4s;

    ellipse {
      fill-opacity: 0.8;
      rx: 4000;
      ry: 4000;
      transition: all 0.4s;
    }
  }
}

.texto {
  color: #fff;
  max-width: 400px;
  margin-top: -30px;
  z-index: 2;
  opacity: 0;
  transition: all 0.6s;

  .full & {
    opacity: 1;
    margin-top: 20px;
  }
}
</style>
