<template>
  <div class="page-header">
    <div class="page-header__bg">
      <div class="page-header__bg__img" :style="{'background-image': 'url(' + this.background + ')'}"></div>
      <div class="page-header__bg__txt" ></div>
    </div>
    <div class="page-header__container">
      <div class="page-header__container__img">
        <h1>
          Invitados
        </h1>
      </div>
      <div class="page-header__container__txt">
        <h3>Estrellas de la cocina</h3>
        <div class="content">
          El protagonismo recaerá este año en sumilleres, jefes de sala y chefs de restaurantes como El Celler de Can Roca, Mugaritz, Arzak, Azurmendi, Nerua, Coque, 99 Sushi Bar, Akelarre, El Portal de Echaurren o Arima En total, más de medio centenar de profesionales de establecimientos que suman 27 estrellas Michelin y 45 soles Repsol tomarán parte en este encuentro donde una audiencia eminentemente profesional podrá tomar parte de manera gratuita de la mayoría de los actos convocados. Únicamente serán de pago catas y clases maestras de vino, y las comidas y cenas que ofrecerán en el Club Náutico (restaurante del hotel) Alberto Ferruz (restaurante BonAmb, Jávea), Joao Rodrigues (Feitoria, Lisboa, Portugal) y Chele González (Gallery Vask, Manila, Filipinas).
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      bg: 'aduriz'
    }
  },
  computed: {
    background () {
      return require('../../assets/' + this.bg + '.jpg')
    }
  }
}
</script>

<style lang="scss">
.page-header {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-height: 630px;
  background: #e5e5e5;

  &__bg {
    min-height: 630px;
    width: 100%;
    display: flex;

    &__img {
      width: 50%;
      background-position: center top;
      background-size: cover;
      height: 630px;
    }
    &__txt {
      width: 50%;
      min-height: 630px;
    }
  }

  &__container {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 100%;
    min-height: 630px;
    max-width: 1200px;
    margin-left: 50%;
    transform: translateX(-50%);

    &__img {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #fff;
      font-size: 28px;
      text-transform: uppercase;

      h1 {
        font-weight: 300;
      }
    }

    &__txt {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 200px;

      h3 {
        align-self: flex-start;
      }
    }
  }
}
</style>
